.social-links {
    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: -9px;

        @media (--S) {
            margin: -5px;
        }
    }

    &__item {
        margin: 9px;

        @media (--S) {
            margin: 5px;
        }

        &:hover {
            & .social-links__image {
                color: var(--main-color);
            }
        }
    }

    &__image {
        width: 37px;
        height: 37px;
        color: #565656;
        transition: color 0.25s ease;
    }
}
