mixin header()
    header(class="header")
        div(class="box")
            include ../../_blocks/nav/nav.pug
            +nav()

            include ../../_blocks/nav-small-device/nav-small-device.pug
            +nav-small-device()

    // END .header
