mixin portfolio-toggles()

    div(class="portfolio-toggles")
        ul(class="portfolio-toggles__list")
            -
                var toggles = [
                    {
                        text: "All",
                        modClass: true,
                    },

                    {
                        text: "Entertainment",
                    },

                    {
                        text: "Sport",
                    },

                    {
                        text: "Business",
                    },

                    {
                        text: "Building",
                    }
                ]

            each item in toggles
                - var modClass = ""
                if item.modClass
                    - modClass = " is-active"

                li(class="portfolio-toggles__item")
                    button(class="portfolio-toggles__button" + modClass,
                        type="button",
                        data-button=item.text) !{item.text}

    // END .portfolio-toggles
