.portfolio-toggles {
    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-top: 18px;
        padding-bottom: 15px;
        border-top: 1px solid #adadad;
        border-bottom: 1px solid #adadad;
        margin-bottom: 46px;

        @media (--S) {
            margin-bottom: 30px;
        }

        @media (--XS) {
            flex-direction: column;
        }
    }

    &__item {
        margin-right: 124px;
        position: relative;

        @media (--M) {
            margin-right: 78px;
        }

        @media (--S) {
            margin-right: 22px;
        }

        @media (--XS) {
            margin-right: 0;
            margin-bottom: 5px;
        }

        &:after {
            content: "/";
            font-size: 20px;
            color: #adadad;
            position: absolute;
            top: 2px;
            right: -67px;

            @media (--M) {
                right: -45px;
            }

            @media (--S) {
                display: none;
            }
        }

        &:last-child {
            margin: 0;

            &:after {
                display: none;
            }
        }
    }

    &__button {
        font-size: 20px;
        font-weight: 300;
        line-height: calc(26 / 20);
        color: var(--main-color);
        text-transform: uppercase;
        padding: 0;
        border: none;
        background: none;

        &.is-active {
            color: #565656;
        }

        &:focus {
            outline: none;
        }
    }
}
