mixin advantages()
    section(class="advantages")
        div(class="box")
            h2(class="title advantages__title") What can 
                span(class="title--mark") you receive?
            p(class="text advantages__text") Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum

    // END .advantages
