<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Daisy
        link(rel="stylesheet" href="stylesheets/index.min.css")

    body(class="page")
        include ../../_blocks/header/header.pug
        +header()

        main(class="main")
            include ../../_blocks/hero/hero.pug
            +hero({
                mainHero: true,
                titleMark: "Clients",
                title: "in your business",
                textButton: "I want clients"
            })

            include ../../_blocks/advantages/advantages.pug
            +advantages()

            include ../../_blocks/hero/hero.pug
            +hero({
                mainHero: false,
                titleMark: "Expand",
                title: "your business",
                textButton: "Join Us"
            })

            include ../../_blocks/steps/steps.pug
            +steps()

            include ../../_blocks/areas/areas.pug
            +areas()

            include ../../_blocks/portfolio/portfolio.pug
            +portfolio()

            include ../../_blocks/team/team.pug
            +team()

            include ../../_blocks/reviews/reviews.pug
            +reviews()

            include ../../_blocks/map/map.pug
            +map()

        include ../../_blocks/footer/footer.pug
        +footer()
