@import "../team-item/team-item.css";

.team {
    background: #f2f2f2;
    padding-top: 52px;
    padding-bottom: 12px;
    text-align: center;

    &__title {
        margin-bottom: 84px;

        @media (--S) {
            margin-bottom: 36px;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        margin: -10px;
        margin-bottom: 61px;

        @media (--S) {
            margin: -5px;
            margin-bottom: 30px;
        }

        @media (--XS) {
            flex-direction: column;
        }
    }

    &__item {
        flex-shrink: 0;
        margin: 10px;

        @media (--S) {
            margin: 5px;
        }

        @media (--XS) {
            margin: 0;
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button-slider {
        margin-left: auto;
        margin-right: auto;
    }
}
