<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisy</title>
    <link rel="stylesheet" href="stylesheets/index.min.css" />
</head>

<body class="page">
    <header class="header">
        <div class="box">
            <nav class="nav">
                <div class="logo"><a class="logo__link" href="#5">
                        <p class="logo__figure"><span class="logo__figure-text">D</span></p><span class="logo__text">Daisy</span>
                    </a></div><!-- END .logo-->
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="#5">About</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Portfolio</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Services</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Contact</a></li>
                </ul>
            </nav><!-- END .nav-->
        </div>
    </header><!-- END .header-->
    <main class="main">
        <div class="hero ">
            <div class="box">
                <h1 class="hero__title"> <span class="hero__title--mark">Clients</span> in your business</h1>
                <p class="hero__subtitle">Your clients on the internet. Learn how to receive them.</p>
                <div class="hero__actions"><a class="button button--transparent button--size-l hero__button" href="#5">
                        <span class="button__text">I want clients</span>
                    </a>
                    <!-- END .button-->
                    <div class="hero__mouse"><img class="hero__image" src="images/svg-icons/mouse.svg" alt="Mouse" /></div>
                </div><button class="button-slider hero__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </div><!-- END .hero-->
        <section class="advantages">
            <div class="box">
                <h2 class="title advantages__title">What can <span class="title--mark">you receive?</span></h2>
                <p class="text advantages__text">Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</p>
                <ul class="advantages__list">
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--clients">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-1"></use>
                            </svg></div>
                        <p class="advantage__title">Clients</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--branding">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-2"></use>
                            </svg></div>
                        <p class="advantage__title">Branding</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--marketing">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-3"></use>
                            </svg></div>
                        <p class="advantage__title">Marketing</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--adv">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-4"></use>
                            </svg></div>
                        <p class="advantage__title">Adv.</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                </ul><button class="button-slider button-slider--stroke advantages__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </section><!-- END .advantages-->
        <div class="hero hero--expand">
            <div class="box">
                <h1 class="hero__title"> <span class="hero__title--mark">Expand</span> your business</h1>
                <div class="hero__actions"><a class="button button--transparent button--size-l hero__button" href="#5">
                        <span class="button__text">Join Us</span>
                    </a>
                    <!-- END .button-->
                </div><button class="button-slider hero__button-slider hero__button-expand" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </div><!-- END .hero-->
        <section class="steps">
            <div class="box steps__box">
                <h3 class="title steps__title">Our <span class="title--mark">process</span> </h3>
                <p class="text steps__text">Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</p>
                <ul class="steps__list">
                    <li class="step steps__item step--first">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">1</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida</p>
                        </div>
                    </li>
                    <li class="step steps__item step--second">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">2</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida</p>
                        </div>
                    </li>
                    <li class="step steps__item step--third">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">3</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida</p>
                        </div>
                    </li>
                    <li class="step steps__item step--fourth">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">4</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                        </div>
                    </li>
                </ul>
            </div><button class="button-slider button-slider--stroke steps__button-slider" type="button"><svg class="button-slider__image">
                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                </svg></button><!-- END .button-slider-->
        </section><!-- END .steps-->
        <section class="areas">
            <div class="areas__title-box">
                <h3 class="title areas__title">What do <span class="title--mark">we do?</span></h3>
            </div>
            <div class="areas__list">
                <div class="area area--landing">
                    <div class="box area__box">
                        <div class="area__text-box">
                            <p class="area__title">Landing Pages</p>
                            <p class="text text--size-s text--letter-spacing area__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam</p><button class="button button--size-m">
                                <span class="button__text">More details</span>
                            </button>
                            <!-- END .button-->
                        </div>
                        <div class="image-box area__image-box"><img class="image-box__image area__image" src="images/areas/devices.png" srcset="images/areas/devices@2x.png 2x" alt="devices" /></div>
                    </div><button class="button-slider button-slider--stroke area__button-slider area__button-slider--landing" type="button"><svg class="button-slider__image">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                        </svg></button><!-- END .button-slider-->
                </div><!-- END .area-->
                <div class="area area--advertising area--reverse ">
                    <div class="box area__box">
                        <div class="area__text-box">
                            <p class="area__title">Advertising</p>
                            <p class="text text--size-s text--letter-spacing area__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam</p><button class="button button--size-m">
                                <span class="button__text">More details</span>
                            </button>
                            <!-- END .button-->
                        </div>
                        <div class="image-box area__image-box"><img class="image-box__image area__image" src="images/areas/mackbook.png" srcset="images/areas/mackbook@2x.png 2x" alt="mackbook" /></div>
                    </div><button class="button-slider button-slider--stroke area__button-slider area__button-slider--advertising" type="button"><svg class="button-slider__image">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                        </svg></button><!-- END .button-slider-->
                </div><!-- END .area-->
                <div class="area area--marketing">
                    <div class="box area__box">
                        <div class="area__text-box">
                            <p class="area__title">Marketing kit</p>
                            <p class="text text--size-s text--letter-spacing area__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam</p><button class="button button--size-m">
                                <span class="button__text">More details</span>
                            </button>
                            <!-- END .button-->
                        </div>
                        <div class="image-box area__image-box"><img class="image-box__image area__image" src="images/areas/marketing.png" srcset="images/areas/marketing@2x.png 2x" alt="marketing" /></div>
                    </div><button class="button-slider button-slider--stroke area__button-slider area__button-slider--marketing" type="button"><svg class="button-slider__image">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                        </svg></button><!-- END .button-slider-->
                </div><!-- END .area-->
            </div>
        </section><!-- END .areas-->
        <section class="portfolio">
            <div class="box">
                <h3 class="title portfolio__title">Portfolio</h3>
                <div class="portfolio-togglesundefined">
                    <ul class="portfolio-toggles__list">
                        <li class="portfolio-toggles__item"><button class="portfolio-toggles__button is-active" type="button" data-button="All">All</button></li>
                        <li class="portfolio-toggles__item"><button class="portfolio-toggles__button" type="button" data-button="Entertainment">Entertainment</button></li>
                        <li class="portfolio-toggles__item"><button class="portfolio-toggles__button" type="button" data-button="Sport">Sport</button></li>
                        <li class="portfolio-toggles__item"><button class="portfolio-toggles__button" type="button" data-button="Business">Business</button></li>
                        <li class="portfolio-toggles__item"><button class="portfolio-toggles__button" type="button" data-button="Building">Building</button></li>
                    </ul>
                </div><!-- END .portfolio-toggles-->
                <div class="portfolio-list portfolio__list">
                    <ul class="portfolio-list__content">
                        <li class="image-box portfolio-list__item" data-work="Entertainment"><img class="image-box__image portfolio-list__image" src="images/portfolio/work-1.jpg" srcset="images/portfolio/work-1.jpg 2x" alt="work-1" />
                            <div class="portfolio-list__details">
                                <p class="portfolio-list__details-title">Title</p><button class="portfolio-list__details-button" type="button">+</button>
                            </div>
                        </li>
                        <li class="image-box portfolio-list__item" data-work="Sport"><img class="image-box__image portfolio-list__image" src="images/portfolio/work-2.jpg" srcset="images/portfolio/work-2.jpg 2x" alt="work-2" />
                            <div class="portfolio-list__details">
                                <p class="portfolio-list__details-title">Title</p><button class="portfolio-list__details-button" type="button">+</button>
                            </div>
                        </li>
                        <li class="image-box portfolio-list__item" data-work="Business"><img class="image-box__image portfolio-list__image" src="images/portfolio/work-3.jpg" srcset="images/portfolio/work-3.jpg 2x" alt="work-3" />
                            <div class="portfolio-list__details">
                                <p class="portfolio-list__details-title">Title</p><button class="portfolio-list__details-button" type="button">+</button>
                            </div>
                        </li>
                        <li class="image-box portfolio-list__item" data-work="Building"><img class="image-box__image portfolio-list__image" src="images/portfolio/work-4.jpg" srcset="images/portfolio/work-4.jpg 2x" alt="work-4" />
                            <div class="portfolio-list__details">
                                <p class="portfolio-list__details-title">Title</p><button class="portfolio-list__details-button" type="button">+</button>
                            </div>
                        </li>
                        <li class="image-box portfolio-list__item" data-work="Entertainment"><img class="image-box__image portfolio-list__image" src="images/portfolio/work-5.jpg" srcset="images/portfolio/work-5.jpg 2x" alt="work-5" />
                            <div class="portfolio-list__details">
                                <p class="portfolio-list__details-title">Title</p><button class="portfolio-list__details-button" type="button">+</button>
                            </div>
                        </li>
                        <li class="image-box portfolio-list__item" data-work="Sport"><img class="image-box__image portfolio-list__image" src="images/portfolio/work-6.jpg" srcset="images/portfolio/work-6.jpg 2x" alt="work-6" />
                            <div class="portfolio-list__details">
                                <p class="portfolio-list__details-title">Title</p><button class="portfolio-list__details-button" type="button">+</button>
                            </div>
                        </li>
                    </ul>
                </div><!-- END .portfolio-list--><button class="button button--size-s portfolio__button">
                    <span class="button__text">I want landing page</span>
                </button>
                <!-- END .button--><button class="button-slider button-slider--stroke portfolio__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </section><!-- END .portfolio-->
        <section class="team">
            <div class="box">
                <h3 class="title team__title">Our <span class="title--mark">team</span></h3>
                <ul class="team__list">
                    <li class="team__item team-item">
                        <div class="image-box team-item__image-box"><img class="image-box__image" src="images/team/team-item-1.png" srcset="images/team/team-item-1.png 2x" alt="team-item-1" /></div>
                        <p class="team-item__name">Tomothy <span class="team-item__name--mark">Bowman</span></p>
                        <p class="team-item__profession">Marketing</p>
                        <div class="social-links">
                            <ul class="social-links__list">
                                <li class="social-links__item"><a class="social-links__link" href="#twitter"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#twitter"></use>
                                        </svg></a></li>
                                <li class="social-links__item"><a class="social-links__link" href="#facebook"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#facebook"></use>
                                        </svg></a></li>
                                <li class="social-links__item"><a class="social-links__link" href="#linkedin"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#linkedin"></use>
                                        </svg></a></li>
                            </ul>
                        </div><!-- END .social-links-->
                    </li>
                    <li class="team__item team-item">
                        <div class="image-box team-item__image-box"><img class="image-box__image" src="images/team/team-item-2.png" srcset="images/team/team-item-2.png 2x" alt="team-item-2" /></div>
                        <p class="team-item__name">Steve <span class="team-item__name--mark">Tracy</span></p>
                        <p class="team-item__profession">CEO</p>
                        <div class="social-links">
                            <ul class="social-links__list">
                                <li class="social-links__item"><a class="social-links__link" href="#twitter"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#twitter"></use>
                                        </svg></a></li>
                                <li class="social-links__item"><a class="social-links__link" href="#facebook"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#facebook"></use>
                                        </svg></a></li>
                                <li class="social-links__item"><a class="social-links__link" href="#linkedin"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#linkedin"></use>
                                        </svg></a></li>
                            </ul>
                        </div><!-- END .social-links-->
                    </li>
                    <li class="team__item team-item">
                        <div class="image-box team-item__image-box"><img class="image-box__image" src="images/team/team-item-3.png" srcset="images/team/team-item-3.png 2x" alt="team-item-3" /></div>
                        <p class="team-item__name">Hellen <span class="team-item__name--mark">Johns</span></p>
                        <p class="team-item__profession">Clients</p>
                        <div class="social-links">
                            <ul class="social-links__list">
                                <li class="social-links__item"><a class="social-links__link" href="#twitter"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#twitter"></use>
                                        </svg></a></li>
                                <li class="social-links__item"><a class="social-links__link" href="#facebook"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#facebook"></use>
                                        </svg></a></li>
                                <li class="social-links__item"><a class="social-links__link" href="#linkedin"><svg class="icon icon--fill social-links__image">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#linkedin"></use>
                                        </svg></a></li>
                            </ul>
                        </div><!-- END .social-links-->
                    </li>
                </ul><button class="button-slider button-slider--stroke team__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </section><!-- END .team                       -->
        <section class="reviews">
            <div class="box reviews__box">
                <h3 class="visually-hidden">Reviews</h3>
                <div class="reviews__logo"><svg class="reviews__logo-image icon icon--fill">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#quotes"></use>
                    </svg></div>
                <div class="reviews__list">
                    <div class="review">
                        <p class="text text--size-s review__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici- tudin, lorem quis bibendum auctor, nisi elit conse-</p>
                        <div class="image-box review__image-box"><img class="image-box__image" src="images/reviews/author-1.png" srcset="images/reviews/author-1.png 2x" /></div>
                        <div class="review__author">
                            <p class="review__name">Alan <span class="review__name--mark">Richman</span></p>
                            <p class="review__profession">CEO of Romashka</p>
                        </div>
                    </div><!-- END .review-->
                    <div class="review">
                        <p class="text text--size-s review__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici- tudin, lorem quis bibendum auctor, nisi elit conse-</p>
                        <div class="image-box review__image-box"><img class="image-box__image" src="images/reviews/author-1.png" srcset="images/reviews/author-1.png 2x" /></div>
                        <div class="review__author">
                            <p class="review__name">Alan <span class="review__name--mark">Richman</span></p>
                            <p class="review__profession">CEO of Romashka</p>
                        </div>
                    </div><!-- END .review-->
                    <div class="review">
                        <p class="text text--size-s review__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici- tudin, lorem quis bibendum auctor, nisi elit conse-</p>
                        <div class="image-box review__image-box"><img class="image-box__image" src="images/reviews/author-1.png" srcset="images/reviews/author-1.png 2x" /></div>
                        <div class="review__author">
                            <p class="review__name">Alan <span class="review__name--mark">Richman</span></p>
                            <p class="review__profession">CEO of Romashka</p>
                        </div>
                    </div><!-- END .review-->
                </div>
                <div class="controls">
                    <ul class="controls__list">
                        <li class="controls__item"><button class="controls__button" type="button"><svg class="icon icon--fill controls__button-image">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow-left"></use>
                                </svg></button></li>
                        <li class="controls__item"><button class="controls__button" type="button"><svg class="icon icon--fill controls__button-image">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow-right"></use>
                                </svg></button></li>
                    </ul>
                </div><!-- END .controls-->
            </div>
        </section><!-- END .reviews-->
        <section class="map">
            <h3 class="visually-hidden">Map</h3>
            <section class="address map__address">
                <h4 class="address__title">Daisy</h4>
                <p class="address__text">615 4th Ave S, Jackson- ville Beach, FL 32250</p>
            </section><!-- END .address-->
        </section><!-- END .map-->
    </main>
    <footer class="footer">
        <div class="box">
            <div class="footer-logo"><a class="footer-logo__link" href="#5">
                    <p class="footer-logo__figure"><span class="footer-logo__figure-text">D</span></p><span class="footer-logo__text">Daisy</span>
                </a></div><!-- END .logo-->
        </div>
    </footer><!-- END .footer-->
    <script src="scripts/script.js"></script>
</body>

</html>
