<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisy</title>
    <link rel="stylesheet" href="stylesheets/index.min.css" />
</head>

<body class="page">
    <header class="header">
        <div class="box">
            <nav class="nav">
                <div class="logo"><a class="logo__link" href="#5">
                        <p class="logo__figure"><span class="logo__figure-text">D</span></p><span class="logo__text">Daisy</span>
                    </a></div><!-- END .logo-->
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="#5">About</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Portfolio</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Services</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Contact</a></li>
                </ul>
            </nav><!-- END .nav-->
        </div>
    </header><!-- END .header-->
    <main class="main">
        <div class="hero ">
            <div class="box">
                <h1 class="hero__title"> <span class="hero__title--mark">Clients</span> in your business</h1>
                <p class="hero__subtitle">Your clients on the internet. Learn how to receive them.</p>
                <div class="hero__actions"><a class="button button--transparent button--size-l hero__button" href="#5">
                        <span class="button__text">I want clients</span>
                    </a>
                    <!-- END .button-->
                    <div class="hero__mouse"><img class="hero__image" src="images/svg-icons/mouse.svg" alt="Mouse" /></div>
                </div><button class="button-slider hero__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </div><!-- END .hero-->
        <section class="advantages">
            <div class="box">
                <h2 class="title advantages__title">What can <span class="title--mark">you receive?</span></h2>
                <p class="text advantages__text">Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</p>
                <ul class="advantages__list">
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--clients">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-1"></use>
                            </svg></div>
                        <p class="advantage__title">Clients</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--branding">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-2"></use>
                            </svg></div>
                        <p class="advantage__title">Branding</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--marketing">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-3"></use>
                            </svg></div>
                        <p class="advantage__title">Marketing</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                    <li class="advantage advantages__item">
                        <div class="advantage__image-block"><svg class="icon icon--fill advantage__image advantage__image--adv">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#advantage-4"></use>
                            </svg></div>
                        <p class="advantage__title">Adv.</p>
                        <p class="text text--size-s advantage__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                    </li>
                </ul><button class="button-slider button-slider--stroke advantages__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </section><!-- END .advantages-->
        <div class="hero hero--expand">
            <div class="box">
                <h1 class="hero__title"> <span class="hero__title--mark">Expand</span> your business</h1>
                <div class="hero__actions"><a class="button button--transparent button--size-l hero__button" href="#5">
                        <span class="button__text">Join Us</span>
                    </a>
                    <!-- END .button-->
                </div><button class="button-slider hero__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </div><!-- END .hero-->
        <section class="steps">
            <div class="box steps__box">
                <h3 class="title steps__title"><span class="title--mark">Our</span> steps</h3>
                <p class="text steps__text">Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</p>
                <ul class="steps__list">
                    <li class="step steps__item step--first">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">1</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida</p>
                        </div>
                    </li>
                    <li class="step steps__item step--second">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">2</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida</p>
                        </div>
                    </li>
                    <li class="step steps__item step--third">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">3</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida</p>
                        </div>
                    </li>
                    <li class="step steps__item step--fourth">
                        <div class="step__box">
                            <p class="step__title">Step <span class="step__title--mark">4</span></p>
                            <p class="text text--size-s step__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                        </div>
                    </li>
                </ul>
            </div><button class="button-slider button-slider--stroke steps__button-slider" type="button"><svg class="button-slider__image">
                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                </svg></button><!-- END .button-slider-->
        </section><!-- END .steps-->
    </main>
</body>

</html>
