<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisy</title>
    <link rel="stylesheet" href="stylesheets/index.min.css" />
</head>

<body class="page">
    <header class="header">
        <div class="box">
            <nav class="nav">
                <div class="logo"><a class="logo__link" href="#5">
                        <p class="logo__figure"><span class="logo__figure-text">D</span></p><span class="logo__text">Daisy</span>
                    </a></div><!-- END .logo-->
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="#5">About</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Portfolio</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Services</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Contact</a></li>
                </ul>
            </nav><!-- END .nav-->
        </div>
    </header><!-- END .header-->
    <main class="main">
        <div class="hero">
            <div class="box">
                <h1 class="hero__title"> <span class="hero__title--mark">Clients</span> in your business</h1>
                <p class="hero__subtitle">Your clients on the internet. Learn how to receive them.</p>
                <div class="hero__actions"><a class="button button--transparent button--size-l hero__button" href="#5">
                        <span class="button__text">I want clients</span>
                    </a>
                    <!-- END .button-->
                    <div class="hero__mouse"><img class="hero__image" src="images/svg-icons/mouse.svg" alt="Mouse" /></div>
                </div><button class="button-slider hero__button-slider" type="button"><svg class="button-slider__image">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                    </svg></button><!-- END .button-slider-->
            </div>
        </div><!-- END .hero-->
        <section class="advantages">
            <div class="box">
                <h2 class="title advantages__title">What can <span class="title--mark">you receive?</span></h2>
                <p class="text advantages__text">Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</p>
            </div>
        </section><!-- END .advantages-->
    </main>
</body>

</html>
