@import "../portfolio-toggles/portfolio-toggles.css";
@import "../portfolio-list/portfolio-list.css";

.portfolio {
    padding-top: 78px;
    padding-bottom: 14px;
    text-align: center;

    @media (--M) {
        padding-top: 50px;
    }

    @media (--XS) {
        padding-top: 30px;
    }

    &__box  {
        overflow: hidden;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        margin-bottom: 54px;

        @media (--S) {
            margin-bottom: 36px;
        }
    }

    &__button {
        margin-bottom: 26px;
    }

    &__button-slider {
        margin-left: auto;
        margin-right: auto;
    }
}
