.review {
    display: flex;
    flex-shrink: 0;
    width: 940px;

    @media (--L) {
        width: 992px;
        padding-left: 30px;
        box-sizing: border-box;
    }

    @media (--M) {
        width: 768px;
        padding-left: 15px;
    }

    @media (--S) {
        width: 540px;
        flex-direction: column;
    }

    @media (--S) {
        width: 290px;
    }

    &__text {
        line-height: calc(21 / 15);
        text-align: justify;
        max-width: 319px;
        padding-top: 57px;

        @media (--M) {
            max-width: 237px;
        }

        @media (--S) {
            max-width: 100%;
            padding-top: 0;
            order: 1;
        }
    }

    &__image-box {
        width: 160px;
        margin-left: 70px;
        margin-right: 70px;

        @media (--S) {
            order: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }

    &__author {
        padding-top: 57px;

        @media (--S) {
            padding-top: 0;
            text-align: center;
        }
    }

    &__name {
        font-size: 28px;
        font-weight: 500;
        letter-spacing: -0.14px;
        color: var(--main-color);
        margin-bottom: 7px;

        @media (--S) {
            font-size: 24px;
            order: 2;
        }
    }

    &__name--mark {
        color: #818181;
    }

    &__profession {
        font-size: 20px;
        font-weight: 300;
        line-height: calc(41 / 20);
        color: #818181;

        @media (--S) {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}
