.hero {
    text-align: center;
    background: url("../images/background/hero.jpg");
    background-repeat: no-repeat;
    background-position: center -100px;
    background-size: cover;
    padding-top: 303px;
    padding-bottom: 296px;
    box-sizing: border-box;
    margin-top: -77px;
    position: relative;

    @media (--XL) {
        margin-top: -77px;
    }

    @media (--L) {
        margin-top: -147px;
        background-size: cover;
    }

    @media (--M) {
        margin-top: -77px;
    }

    @media (--S) {
        padding-top: 300px;
        padding-bottom: 115px;
        margin-top: -267px;
    }

    @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
        background: url("../images/background/hero@2x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;

        @media (--XL) {
            margin-top: -126px;
        }

        @media (--L) {
            margin-top: -147px;
            background-size: cover;
        }

        @media (--M) {
            margin-top: -77px;
        }

        @media (--S) {
            padding-top: 300px;
            padding-bottom: 115px;
            margin-top: -267px;
        }
    }

    &__title {
        font-size: 51px;
        font-weight: 700;
        color: var(--white);
        text-transform: uppercase;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: 13px;

        @media (--L) {
            font-size: 45px;
        }

        @media (--S) {
            font-size: 38px;
        }

        @media (--XS) {
            font-size: 34px;
        }

        &:before,
        &:after {
            content: "";
            display: block;
            width: 107px;
            height: 8px;
            background: rgba(255, 255, 255, 0.2);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;

            @media (--M) {
                display: none;
            }
        }

        &:before {
            left: -110px;
        }

        &:after {
            right: -110px;
        }
    }

    &__title--mark {
        color: var(--main-color);
    }

    &__subtitle {
        font-size: 24px;
        line-height: calc(26 / 24);
        letter-spacing: -0.12px;
        color: var(--white);
        margin-bottom: 44px;

        @media (--L) {
            font-size: 20px;
        }

        @media (--S) {
            font-size: 18px;
        }
    }

    &__actions {
        display: inline-block;
        position: relative;
    }

    &__button {
        min-width: 205px;
    }

    &__mouse {
        position: absolute;
        top: 12px;
        right: -127px;

        @media (--XS) {
            display: none;
        }
    }

    &__button-slider {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        overflow-y: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 28px;
        margin: auto;
    }

    &--expand {
        background: url("../images/background/expand.jpg") center top no-repeat;
        background-size: cover;
        padding-top: 214px;
        margin-top: 0;
        padding-bottom: 208px;

        @media (--XL) {
            margin-top: 0;
        }

        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background: url("../images/background/expand@2x.jpg");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100% auto;

            @media (--XL) {
                padding-top: 118px;
                margin-top: 0;
            }

            @media (--L) {
                padding-top: 118px;
                margin-top: 0;
            }

            @media (--M) {
                padding-top: 118px;
                margin-top: 0;
            }

            @media (--S) {
                padding-top: 115px;
                margin-top: 0;
            }
        }

        & .hero__title {
            margin-bottom: 39px;

            &:before,
            &:after {
                display: none;
            }
        }

        & .hero__button-slider {
            bottom: 20px;
        }
    }
}
