mixin portfolio-list()
    div(class="portfolio-list")&attributes(attributes)
        ul(class="portfolio-list__content")

            -
                var list = [
                    {
                        image: "work-1",
                        data: "Entertainment",
                    },

                    {
                        image: "work-2",
                        data: "Sport",
                    },

                    {
                        image: "work-3",
                        data: "Business",
                    },

                    {
                        image: "work-4",
                        data: "Building",
                    },

                    {
                        image: "work-5",
                        data: "Entertainment",
                    },

                    {
                        image: "work-6",
                        data: "Sport",
                    },
                ]

            each item in list
                li(class="image-box portfolio-list__item" data-work=item.data)
                    img(class="image-box__image portfolio-list__image",
                        src="images/portfolio/" + item.image + ".jpg",
                        srcset="images/portfolio/" + item.image + ".jpg 2x",
                        alt=item.image)

                    div(class="portfolio-list__details")
                        p(class="portfolio-list__details-title") Title
                        button(class="portfolio-list__details-button" type="button") +

    // END .portfolio-list
