mixin portfolio-list()
    div(class="portfolio-list")&attributes(attributes)
        ul(class="portfolio-list__content")

            -
                var list = [
                    {
                        image: "work-1",
                    },

                    {
                        image: "work-2",
                    },

                    {
                        image: "work-3",
                    },

                    {
                        image: "work-4",
                    },

                    {
                        image: "work-5",
                    },

                    {
                        image: "work-6",
                    },
                ]

            each item in list
                li(class="image-box portfolio-list__item")
                    img(class="image-box__image portfolio-list__image",
                        src="images/portfolio/" + item.image + ".jpg",
                        srcset="images/portfolio/" + item.image + ".jpg 2x",
                        alt=item.image)

    // END .portfolio-list
