mixin footer-logo()
    div(class="footer-logo")
        a(class="footer-logo__link" href="#5")
            p(class="footer-logo__figure")
                span(class="footer-logo__figure-text") D
            span(class="footer-logo__text") Daisy

    // END .logo
