.area {
    padding-bottom: 17px;
    background: #f2f2f2;

    @media (--S) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    & .area__box {
        display: flex;
        justify-content: space-between;

        @media (--S) {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__text-box {
        text-align: left;
        max-width: 396px;
        flex-shrink: 0;

        @media (--S) {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 500;
        letter-spacing: -0.14px;
        color: #868686;
        text-transform: uppercase;
        padding-left: 20px;
        position: relative;
        margin-bottom: 15px;

        @media (--S) {
            font-size: 24px;
        }

        @media (--XS) {
            font-size: 20px;
        }

        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 39px;
            background: var(--main-color);
            position: absolute;
            top: -6px;
            left: 0;
        }
    }

    &__text {
        margin-bottom: 36px;
    }

    &__button-slider {
        margin-left: auto;
        margin-right: auto;
    }

    &--reverse {
        background: transparent;

        & .area__box {
            flex-direction: row-reverse;

            @media(--S) {
                flex-direction: column;
            }
        }
    }

    &--landing {
        padding-top: 77px;
        
        & .area__box {
            margin-bottom: 47px;
        }

        & .area__text-box {
            padding-top: 36px;

            @media (--S) {
                padding-top: 0;
            }
        }
    }

    &--advertising {
        padding-top: 134px;
        padding-bottom: 15px;

        & .area__box {
            margin-bottom: 105px;
        }

        & .area__text-box {
            text-align: right;
            padding-top: 25px;
        }

        & .area__title {
            padding-left: 0;
            padding-right: 22px;
            margin-bottom: 19px;

            &:before {
                left: auto;
                right: 2px;
            }
        }

        & .area__text {
            margin-bottom: 31px;
        }
    }

    &--marketing {
        padding-top: 123px;

        & .area__box {
            margin-bottom: 78px;
        }

        & .area__text-box {
            padding-top: 24px;
        }

        & .area__image-box {
            padding-left: 25px;

            @media (--XS) {
                padding-left: 0;
            }
        }
    }

    &__button {
        @media (--S) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
