mixin button-slider()
    button(class="button-slider" type="button")&attributes(attributes)
        svg(class="button-slider__image")
            use(xlink:href="images/svg-sprite/svg-sprite.svg#arrow")

    // END .button-slider
