.button-slider {
    width: 28px;
    height: 28px;
    padding-top: 5px;
    border-radius: 50%;
    border: none;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    display: block;
    transition-property: background, fill;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    &:hover {
        background: transparent;

        & .button-slider__image {
            fill: var(--main-color);
        }
    }

    &:focus {
        outline: none;
    }

    &--stroke {
        background: transparent;

        &:hover {
            background: var(--main-color);

            & .button-slider__image {
                fill: var(--white);
            }
        }

        & .button-slider__image {
            fill: var(--main-color);
        }
    }

    &__image {
        width: 12px;
        height: 15px;
        transform: rotate(90deg);
        fill: var(--white);
    }
}
