mixin logo()
    div(class="logo")
        a(class="logo__link" href="#5")
            p(class="logo__figure")
                span(class="logo__figure-text") D
            span(class="logo__text") Daisy

    // END .logo
